{% extends 'DroseraAdminBundle::layout.html.twig' %}

{% block content %}
    <h1>Detail uživatelské skupiny "{{ userGroup.name }}"</h1>
    {% include "DroseraUserBundle:UserGroup:userGroup.html.twig" with {'userGroup': userGroup} %} 
{% endblock %}