<div>
    <h1>Starší verze "{{ historyEntry.data.name }}" (vytvorena {{ historyEntry.loggedAt | date("d.m.Y, H:i:s") }})</h1>
    <table>
        <tr>
            <td>Název</td>
            <td>{{ historyEntry.data.name }}</td>
        </tr>
    </table>   
</div>

