<div>
    <h1>Starší verze</h1>
    <ul>
        {% for entry in history %}
            <li><a href="{{ path('drosera_user_admin_user_group_history_detail', {'id' : userGroup.id, 'version':entry.version}) }}">{{ entry.loggedAt | date("d.m.Y, H:i:s") }}</a> (upravil {{ entry.username }})</li>
        {% endfor %}
    </ul>    
</div>

