{% extends 'DroseraAdminBundle::layout.html.twig' %}

{% block content %}
    <h1>Detail uživatele "{{ user.username }}"</h1>
    {% include "DroseraUserBundle:User:user.html.twig" with {'user': user} %} 
{% endblock %}